<footer style="background:#000;color: #fff;">
  <div class="container">
      <a href="#top" data-scroll class="back-to-top"><i class="fa fa-chevron-up"></i></a>
      <ul class="social">
          {% if site.author.github_link and site.footer-links-active.github %}
          <li><a href="{{ site.author.github_link }}" target="_blank"><i class="fa fa-github"></i></a></li>
          {% endif %}
          {% if site.author.linkedin_link and site.footer-links-active.linkedin %}
          <li><a href="{{ site.author.linkedin_link }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          {% endif %}
          {% if site.author.facebook_link and site.footer-links-active.facebook %}
          <li><a href="{{ site.author.facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
          {% endif %}
          {% if site.author.twitter_link and site.footer-links-active.twitter %}
          <li><a href="{{ site.author.twitter_link }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if site.author.reddit_link and site.footer-links-active.reddit %}
          <li><a href="{{ site.author.reddit_link }}" target="_blank"><i class="fa fa-reddit"></i></a></li>
          {% endif %}
          {% if site.author.google-plus_link and site.footer-links-active.google-plus %}
          <li><a href="{{ site.author.google-plus_link }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          {% endif %}
          {% if site.author.xing_link and site.footer-links-active.xing %}
          <li><a href="{{ site.author.xing_link }}" target="_blank"><i class="fa fa-xing"></i></a></li>
          {% endif %}
          {% if site.author.stackoverflow_link and site.footer-links-active.stackoverflow %}
          <li><a href="{{ site.author.stackoverflow_link }}" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
          {% endif %}
          {% if site.author.snapchat_link and site.footer-links-active.snapchat %}
          <li><a href="{{ site.author.snapchat_link }}" target="_blank"><i class="fa fa-snapchat-ghost"></i></a></li>
          {% endif %}
          {% if site.author.instagram_link and site.footer-links-active.instagram %}
          <li><a href="{{ site.author.instagram_link }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
          {% endif %}
          {% if site.author.youtube_link and site.footer-links-active.youtube %}
          <li><a href="{{ site.author.youtube_link }}" target="_blank"><i class="fa fa-youtube"></i></a></li>
          {% endif %}
          {% if site.author.spotify_link and site.footer-links-active.spotify %}
          <li><a href="{{ site.author.spotify_link }}" target="_blank"><i class="fa fa-spotify"></i></a></li>
          {% endif %}
      {% if site.footer-links-active.email or site.footer-links-active.telephone or site.footer-links-active.rss %}
          {% if site.author.email and site.footer-links-active.email %}
          <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope"></i></a></li>
          {% endif %}
          {% if site.author.telephone and site.footer-links-active.telephone %}
          <li><a href="{{ site.author.telephone }}"><i class="fa fa-phone"></i></a></li>
          {% endif %}
		  {% if site.footer-links-active.rss %}
          <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></li>
          {% endif %}
      {% endif %}
      </ul>
<!--      <p>-->
<!--          Theme by <a href="http://deanattali.com/beautiful-jekyll/" target="_blank">beautiful-jekyll</a><br/>-->
<!--          Style by <a href="http://graphberry.com" target="_blank">GraphBerry</a> &nbsp;&bull;&nbsp;-->
<!--          Logo by <a href="http://color-lim.com" target="_blank">SungHo Lim</a><br/>-->
<!--          Copyright {{ site.time | date: '%Y' }} by {{ site.author.name }}-->
<!--      </p>-->
  </div>
</footer>