body {
	margin: 10px;
}
p, td, span, li, a {
	font-family: verdana, arial, helvetica, sans-serif;
}
h1 {
	font: 30px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	margin: 0 15px 1px 0;
	float: right;
	clear: both;
}
h2 {
	font: 25px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	margin: 15px 0 1px 0;
	padding: 0 0 3px 0;
	clear: both;
}
h3 {
	float: left;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0;
}
p {
	font-size: 100%;
	margin: 0 0 0 0;
	padding: 0;
}
.under-line {
	border-bottom: 2px solid #808080;
	margin-bottom: 5px;
	overflow: auto;
	letter-spacing: 1px;
}
.middle-line {
    margin-top: 15px;
    position:relative;
}
.middle-line:before {
    position: absolute;
    display:block;
    top:0;
    left:0;
    bottom:0;
    content: attr(title);
    background-color:#FFF;
    color:#FFF;
    z-index:-1;
    padding-right:.5em;
}
.middle-line::after {
    position:absolute;
    content:'';
    display: block;
    left:0;
    right:0;
    top:50%;
    background-color:#555;
    height:1px;
    z-index:-2;
}
.basic-info {
	font-size: 100%;
	float: right;
	clear: both;
	margin: 0 15px 1px 0;
	text-align: right;
	letter-spacing: 1px;
}
.basic-info th, td{
	padding: 0 0 0 10px;
}
.tech-skills ul {
  list-style-type: none;
}
.job {
	clear: both;
}
.date {
	clear: left;
	float: left;
	padding-top: 2px;
	width: 20%;
}
.location {
	clear: right;
	float: right;
	text-align: right;
	width: 20%;
}
.job_data {
	float: left;
	margin: 0 0 5px 20%;
	width: 80%;
}
.description {
	clear: both;
	margin: 0 0 5px 0;
	padding: 0;
}
.description-italic {
	font-style: italic;
	margin: 0 0 5px 0;
}
.job_data ul {
	margin: 3px 0 0 0;
	padding: 0;
}
.job_data ul li {
	font-size: 100%;
	margin: 0 0 3px 20px;
	padding: 0;
}
#references {
	margin-top: 20px;
}
#meta {
	margin-top: 30px;
}